.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refreshBtn {
    padding: 8px 12px;
    cursor: pointer;
    color: white;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    background-color: dodgerblue;
}